#section_about_sadananda {
    padding: 5px 0 5px;

}

.my-slide-content {
	position: absolute;
	left: 15%;
	top: 5%;
	right: 15%;
	text-align: center;
}

.my-slide-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 1.7rem;
}


.carousel-inner {
	max-height: 300px !important;
}

.carousel-inner img {
    background-size: cover;
}


.slider-intro {
	position: relative;
	clear: both;

	/* My customizations */
	/* margin-top: 30px; */
  /* Animations */
  /* Animations */
  /*  Small Desktop  */
  /*  Tablet Portrait  */
  /*  Mobile  */;
}

.social_contacts {
    position: fixed;
    bottom: 5%;
    right: 15px;
    /* max-width: 24px; */
    background-color: #fa6f1c;
}

.social_contacts button {
    color:#fff;
    padding: 4px;
    border: 1px solid #fff;
    width: 100%
} 

.social_contacts button:hover {
    background-color: black;
}

.slider-featured .slide .slide-image {
	margin-bottom: 8px;
	position: relative;
}

.header {
	position: relative;
	z-index: 300;
	height: 80px;
  /*  Tablet Portrait  */
  /*  Mobile  */;
}

.header .header-logo {
	float: left;
	margin: 8px 0 0 0;
}

.header .header-logo img {
	width: 20%;
	height: auto;
}

.header .header-inner {
	float: right;
	margin-top: 16px;
}

.section-featured-initiatives {
	padding: 5px 0 5px;
  /*  Mobile  */;
}

.slider-featured .slide .slide-content-small-caption {
    margin-bottom: 60px !important;
}

.section-featured-our-team {
	padding: 25px 0 25px;
  /*  Mobile  */;
}

.section-featured-our-team .section-head {
	margin-bottom: 42px;
	text-align: center;
}

.section-featured-our-team .section-head .section-title {
	margin-bottom: 12px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
	font-size: 1.71429rem;
}

.section-featured-our-team .section-head .section-image {
	margin-bottom: 10px;
}

.section-featured-our-team .section-head .section-image:before,
.section-featured-our-team .section-head .section-image:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 1px;
	margin: 0 6px;
	background: #fa6f1c;
}

.section-featured-our-team .section-head p {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 2.2;
}
