#section_about_sadananda {
	position: relative;
    padding: 5px 0 5px;
	/* margin-top: 150px; */
}

.my-slide-content {
	position: absolute;
	left: 15%;
	top: 5%;
	right: 15%;
	text-align: center;
}

.my-slide-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 1.7rem;
}

#initiative-header {
	text-align: center;
	margin-bottom: 20px;
}

.initiative {
	width: 200px;
	position: relative;
}

.initiative-title {
	color: #fff;
}

.footer {
	color:#fff;
}

.footer-body {
	background: #064ba0 !important;
	padding: 85px 0 32px !important;
}

.footer-body .list-links a {
	color: #fff;
}

.footer-credits {
	text-align: center;
	letter-spacing: 0.025em;
	color: #75737f;
}

#our_initiatives_overview_in_banner {
	position: absolute;
	top: 350px;
	left: 20%;
	right: 20%;
	max-height: 100px;
	background-color: transparent;
}


.initiative .title {
	text-align: center;
	font-size: small;
}

.initiative img {
	border: 2px solid white;
	border-radius: 10px;
}

#initiativesbanner .initiative-slide-container .initiative-image .slide-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(39, 38, 44, 0.7);
	visibility: hidden;
	opacity: 0;
}

#initiativesbanner .initiative-slide-container .initiative-image .slide-overlay {
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#initiativesbanner .initiative-slide-container .initiative-image .slide-overlay .button {
	margin: 0;
	/* min-width: 154px; */
	/* padding: 9px 10px; */
	font-size: 8px;
	margin-bottom: 8px;
}

#initiativesbanner .initiative-slide-container .initiative-image .slide-overlay-inner {
	position: absolute;
	left: 50%;
	top: 50%;
}

#initiativesbanner .initiative-slide-container .initiative-image .slide-overlay-inner {
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#initiativesbanner .initiative-slide-container .initiative-image:hover .slide-overlay {
	visibility: visible;
	opacity: 1;
}

#initiativesbanner .initiative-slide-container .initiative-image:hover .slide-overlay-inner {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.sadananda-slides  {
	margin: 0px;
	padding: 0px;
	max-height: 300px !important;
	margin-bottom: 40px;
	/* height: 300px !important; */
}
.slide-container {
	height: 300px !important;
}

.slide-container img {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.slide-container .banner-content {
	position: absolute;
	left: 10%;
	top: 5%; 
	right: 15%;
	/* bottom: 5%; */
	/* text-align: center; */
}

.slide-container .banner-content .banner-title {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.3;
	font-size: 3rem;
}

.slide-container .banner-content .banner-details {
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.1em;
	line-height: 1.3;
	font-size: 1rem;
}

#initiativesbanner {
	padding-left: 50px;
	padding-right: 50px;
	/* position: fixed;
	top: 800px;
	left: 20% !important;
	right: 20% !important; */
	/* height: 100px; */
	/* background-color: orange;
	border: 2px solid red; */
	/* border-radius: 5px; */
}

#initiativesbanner .title {
	margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    font-size: 1.71429rem;
	text-align: center;
}


.initiative-slide-container {
	width: 200px;
	height: 200px;
	/* border: 2px solid red; */
	/* border-radius: 5px; */
	display: block;
}

.initiative-slide-container .initiative-image {
	width: 200px;
	/* height: 200px; */
	/* border: 2px solid red; */
	/* border-radius: 5px; */
	display: block;
}

#initiativesbanner .initiative-slide-container .initiative-name {
	font-weight: bold;
	text-align: center;
}
#initiativesbanner .initiative-slide-container a:link {
	text-decoration: none;
}

.owl-carousel .owl-item img {
	width: 100% !important
}


.carousel-inner {
	max-height: 450px !important;
}

.carousel-inner img {
    background-size: cover;
}


.slider-intro {
	position: relative;
	clear: both;
	max-height: 400px;
	/* My customizations */
	/* margin-top: 30px; */
  /* Animations */
  /* Animations */
  /*  Small Desktop  */
  /*  Tablet Portrait  */
  /*  Mobile  */;
}

.slides {
	padding: 0 !important;
}
.slider-intro .slide .slide-image img {
	height: 400px !important;
	width: 100%;
}

.slider-intro .slide .slide-image {
	overflow: hidden !important;
}

.social_contacts {
    position: fixed;
    bottom: 5%;
    right: 15px;
    /* max-width: 24px; */
    background-color: #fa6f1c;
	z-index: 300;
}

.social_contacts button {
    color:#fff;
    padding: 4px;
    border: 1px solid #fff;
    width: 100%
} 

.social_contacts button:hover {
    background-color: black;
}

.slider-featured .slide .slide-image {
	margin-bottom: 8px;
	position: relative;
}

.header {
	position: relative;
	z-index: 300;
	height: 80px;
  /*  Tablet Portrait  */
  /*  Mobile  */;
}

.header .header-logo {
	float: left;
	margin: 8px 0 0 0;
}

.header .header-logo img {
	width: 30%;
	height: auto;
}

.header .header-inner {
	float: right;
	margin-top: 16px;
}

.section-featured-initiatives {
	padding: 5px 0 5px;
  /*  Mobile  */;
}

.slider-featured .slide .slide-content-small-caption {
    margin-bottom: 60px !important;
}

.section-featured-our-team {
	padding: 25px 0 25px;
  /*  Mobile  */;
}

.section-featured-our-team .section-head {
	margin-bottom: 42px;
	text-align: center;
}

.section-featured-our-team .section-head .section-title {
	margin-bottom: 12px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
	font-size: 1.71429rem;
}

.section-featured-our-team .section-head .section-image {
	margin-bottom: 10px;
}

.section-featured-our-team .section-head .section-image:before,
.section-featured-our-team .section-head .section-image:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 1px;
	margin: 0 6px;
	background: #fa6f1c;
}

.section-featured-our-team .section-head p {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 2.2;
}

.section-featured {
	padding: 25px 0 25px !important;
  /*  Mobile  */;
}

.page-head {
	text-align: center;
}

@media print, screen and (min-width: 40em) {
	.initiative {
		width: 160px;
		position: relative;
	}
}